// Для импорта в диспетчер подключений: @import './src/blocks/reviewes/reviewes.less';

@import '../../less/variables.less';     // только для удобства обращения к переменным


.reviewes {
  background-image: url(../img/2-layers.png);
  background-repeat: no-repeat;
  background-size: 200% 200%;
  background-position: center;
  text-align: center;
  
  &__title{
    color: @white;
    padding-top: 50px;
    padding-bottom: 50px;
    font-weight: 300;

  }
  &__item {
    background-color: #fff;
    text-align: center;
    position: relative;
    padding-top: 70px;
    z-index: 1;
    margin-bottom: 20px;

    &-pic{
      position: absolute;
      left: 0;
      right: 0;
      top: -41px;
    }
    &-name{
      font-weight: 500;
    }
    &-ico--vk{
      position: absolute;
      content: "";
      background-image: url(../../img/ic-vk.png);
      height: 13px;
      width: 22px;
      left: 0;
      right: 0;
      margin: auto;
      top: 96px;
    }
    &-text{
      padding-top: 54px;
    }
    &-date{
      padding-top: 25px;
      padding-bottom: 30px;
    }
  }
  &__btn{
    padding-top: 30px;
    padding-bottom: 50px;
  }
}
.btn{

}