// Для импорта в диспетчер подключений: @import './src/blocks/more-rooms/more-rooms.less';

@import '../../less/variables.less';     // только для удобства обращения к переменным


.more-rooms {
  background-color: @white;
  padding-bottom: 40px;
  padding-top: 50px;
  display: flex;
  flex-direction: column; 
  align-items: center;
  &__wrap{

  }
  @media(min-width: @screen-md){
      flex-direction: row; 
      justify-content: space-between;
      padding-left: 20px;
      padding-right: 20px;
    }
}
